<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Excel Parser</title>
</head>
<body>
    <form id="mainForm">
        <input type="file">
        <table border="1">
            <tr>
                <td>fdas</td> <td>dadasd</td> <td>dasdas</td>
            </tr>

            <tr>
                <td>dsada</td> <td>dasda</td> <td>dasda</td>
            </tr>
            
            <tr>
                <td>saddad</td> <td>dsadsa</td> <td>dsada</td>
            </tr>
        </table>
    </form>
    <script>
        function getRequest(){
            return new Promise(function(resolve, reject){
                let request = new XMLHttpRequest();
                let url = "/app";
                request.open("GET", url); 
                request.send();
                let response = request.responseXML;
                //
                //
                //слушаем ответ от сервера
                request.onload = () => resolve(response);
                request.onerror = () => reject(new Error(`Ошибка соединения`));
            });
        }

        let promise = getRequest();
        promise.then(
            response => alert(`Ответ сервера: ${response}`),
            error => alert(`Ошибка: ${error.message}`)
        );
    </script>
</body>
</html>